input, button{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.imglogin {
    width: 100%;
}
.fotouser{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.livro{
    border:0px;
  
}
.precoatual {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

